<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex flex-column justify-content-center align-items-center text-center text-white vh-100"
        style="background-image: url('/images/sarah-brown-3eg3Iuq-3gQ-unsplash.jpg'); background-size: cover;">
        <a id="auth-profile" href="/signin" class="btn px-4 py-2 font-weight-bold"
            style="background-color: #e09f3ed2; border-radius: 15px; text-shadow: 2px 2px 5px rgba(33, 32, 32, 0.51); box-shadow: 3px 3px 5px rgba(33, 32, 32, 0.51); margin: 0px 0px 0px 1250px">
            Authentification
        </a>
        <button id="logout-btn" class="btn px-4 py-2 font-weight-bold" style="background-color: #e09f3ed2; border-radius: 15px; text-shadow: 2px 2px 5px rgba(33, 32, 32, 0.51); box-shadow: 3px 3px 5px rgba(33, 32, 32, 0.51); margin: 0px 0px 0px 1250px; display: none;">Logout</button>
        <h2 class="font-weight-bold" style="color: rgb(255, 255, 255); text-shadow: 5px 5px 5px rgba(15, 12, 12, 0.99);">Car trading</h2>
        <h1 class="display-4 font-weight-bold" style="text-shadow: 5px 5px 5px rgb(33, 32, 32);">Management
            system<br></h1>
        <a href="/cars" class="btn mt-3 px-5 py-2 font-weight-bold"
            style="background-color:  #e09f3ed2; border-radius: 15px;text-shadow: 5px 5px 5px rgba(33, 32, 32, 0.51); box-shadow: 5px 5px 5px rgba(33, 32, 32, 0.51);">Cars</a>
        <a href="/model" class="btn mt-3 px-5 py-2 font-weight-bold"
            style="background-color: #e09f3ed2; border-radius: 15px; text-shadow: 5px 5px 5px rgba(33, 32, 32, 0.51); box-shadow: 5px 5px 5px rgba(33, 32, 32, 0.51)">Models</a>
        <a href="/manufacturer" class="btn mt-3 px-5 py-2 font-weight-bold"
            style="background-color: #e09f3ed2; border-radius: 15px; text-shadow: 5px 5px 5px rgba(33, 32, 32, 0.51); box-shadow: 5px 5px 5px rgba(33, 32, 32, 0.51)">Manufacturer</a>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const token = localStorage.getItem("token");
        const authProfile = document.getElementById("auth-profile");

        if (token) {
            authProfile.textContent = "Profile"
            authProfile.href = "/Profile"
            document.getElementById("logout-btn").style.display = "block"; // Show button
        }

        document.getElementById("logout-btn").addEventListener("click", function () {
            localStorage.removeItem("token"); // Remove token from local storage
            alert("Logged out successfully!");
            window.location.href = "/signin"; // Redirect to login page
        });
    });
</script>
</body>
</html>