<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Purchase Successful!</h1>
<p>Model ID: <%= modelId %></p>
<p>Buyer: <%= buyer %></p>
<p>Transaction Hash: <%= transaction.transactionHash %></p>

<!-- Button or link to proceed to the review page -->
<a href="/review">Go to Review Page</a>

</body>
</html>